@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Nunito", sans-serif !important;
}

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-secondary-600 text-secondary-900 min-w-min;
}

.tag {
  @apply text-sm bg-secondary-500 text-secondary-700 py-1 px-4 rounded-lg w-wfit;
}

.layout-container {
  @apply container text-secondary-700;
}

.wide-container {
  @apply w-full md:w-w77 md:m-mh;
}

.narrow-container {
  @apply w-full md:w-w70 md:m-mh lg:w-1/2;
}

.img-position {
  position: absolute !important;
}

.section-title {
  @apply text-2xl font-bold mb-4 text-center md:text-left relative;
  @media (min-width: 768px) {
    @apply pl-8;
    &::before {
      content: "";
      @apply bg-secondary-500 absolute rounded-full h-full w-1 top-0 left-0;
    }
  }
}

#article-scroll {
  @apply text-blue-400 no-underline;
}
