@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Nunito", sans-serif !important;
}

body {
  @apply bg-secondary-600;
}

.tag {
  @apply bg-primary-300 text-white uppercase p-tag rounded-sm;
}

.layout-container {
  @apply container text-secondary-700;
}

.wide-container {
  @apply w-full md:w-w77 md:m-mh;
}

.narrow-container {
  @apply w-full md:w-w70 md:m-mh lg:w-1/2;
}

.img-position {
  position: absolute !important;
}

.section-title {
  @apply text-2xl font-bold mb-4 text-center md:text-left relative;
  @media (min-width: 768px) {
    @apply pl-8;
    &::before {
      content: "";
      @apply bg-secondary-500 absolute rounded-full h-full w-1 top-0 left-0;
    }
  }
}
