@import "./variables.scss";

@layer utilities {
  .home {
    height: 50vh;
    background-image: radial-gradient($orange--300 1px, transparent 1px),
      radial-gradient($orange--300 1px, transparent 1px);
    background-size: calc(20 * 0.5px) calc(20 * 0.5px);
    background-position: 0 0, calc(10 * 0.5px) calc(10 * 0.5px);
    position: relative;
    &::after {
      content: "";
      background-image: linear-gradient(
        rgba(231, 231, 231, 0.5),
        rgba(255, 255, 255, 1)
      );
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 1;
    }

    & > * {
      z-index: $content-z-index;
    }

    &__content {
      h1 {
        color: $primary-color;
      }
    }

    @media (min-width: 1024px) {
      height: 60vh;
    }
  }
}
