@import "./variables.scss";

@layer utilities {
  $logo-img-dimension: 30px;
  .navbar {
    @extend %container;

    &__logo {
      color: $primary-color;

      strong {
        text-transform: uppercase;
      }
    }
  }
}
