@import "../../styles/variables.scss";

@layer utilities {
  $font-weight--bold: 700;

  .article {
    h1 {
      font-size: 1.875rem;
      line-height: 2.25rem;
    }
    h2 {
      font-size: 1.5rem;
      line-height: 2rem;
    }
    h3 {
      font-size: 1.25rem;
      line-height: 1.75rem;
    }
    h4 {
      font-size: 1.125rem;
      line-height: 1.75rem;
    }
    h5 {
      font-size: 1rem;
      line-height: 1.5rem;
    }
    h6 {
      font-size: 0.875rem;
      line-height: 1.25rem;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-weight: $font-weight--bold;
      margin-bottom: 1rem;
    }

    p {
      margin-bottom: 0.5rem;
    }

    ul {
      list-style: disc;
    }

    ol {
      list-style: decimal;
    }

    ul,
    ol {
      margin: 0 1rem;
    }

    blockquote {
      margin: 1rem 0;
      background-color: $gray-100;
      padding: 1rem;
      border-radius: 0.25rem;
    }

    a {
      color: $primary-color;
      text-decoration: underline;
    }

    &__title {
      color: $gray-300;
      margin-bottom: 0 !important;
    }

    &__date {
      color: $gray-300;
    }

    &__tag {
      @extend %tag;
    }
  }
}
