@layer utilities {
  .featured {
    &__img {
      display: none !important;
      @apply m-2 rounded-2xl;
      @apply md:w-full md:m-0 md:h-full md:min-h-mh15;
      @media(min-width: 768px) {
        display: block !important;
      }
    }

    &__body {
      @media(min-width: 768px) {
        background: linear-gradient(0deg, #2d3748 0%, transparent 100%);
      }
    }
  }
}
